@font-face {
    font-family: 'PokemonGB';
    src: url('/assets/fonts/PokemonGB.ttf');
}

.top-section {
    display: flex;
    padding: 20px;
}

.empty-space {
    flex: 2;
}

.p1-hp-content {
    flex: 1;
    border-radius: 20px;
    border: 2px solid #3297E9;
    background: #40B5FF;
}

.p2-hp-content {
    flex: 1;
    border-radius: 20px;
    border: 2px solid #e33c3c;
    background: #e35151;
}

.poke-name {
    margin-left: 40px;
    font-family: 'PokemonGB';
}
